#git*
!.gitignore

#JUMP#
.settings
bin
target
#.library
#.project

#Java#
.class
/**/.classpath

#note#
*.bak

# Windows#
.db
.ini

#python#
.idea
venv

# springboot #
.metadata
RemoteSystemsTempFiles




